<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Study Detail</title>

	<!-- cornerstone 라이브러리 -->
	<script src="https://unpkg.com/cornerstone-core"></script>
	<script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
	<script src="https://unpkg.com/cornerstone-tools"></script>
	<script src="https://unpkg.com/cornerstone-tools/dist/cornerstoneTools.js"></script>
	<script src="https://unpkg.com/cornerstone-math"></script>
	<script src="https://unpkg.com/hammerjs"></script>
	<!-- dicom 라이브러리 -->
	<script src="https://unpkg.com/dicom-parser"></script>
	<!-- Axios 라이브러리 -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<link rel="stylesheet" href="/css/picdetail.css">
	<link rel="stylesheet" href="/css/toolBar.css">
	<link rel="stylesheet" href="/css/content.css">
</head>

<body>
	<div class="container">
		<!-- 정보, 과거내역, 시리즈, 리포트, 설정, 로그아웃 세로 버튼 -->
		<div class="sidebar">
			<div class="sidebar-up-item">
				<img src="/img/logo.png" alt="medipacs" class="logo-img" id="home">
				<!-- <button id="home">홈</button> -->
				<button id="toggle-info-btn">정보</button>
				<button id="toggle-past-btn">과거 내역</button>
				<button id="toggle-series-btn">시리즈</button>
				<button id="toggle-report-btn">리포트</button>
			</div>
			<div class="sidebar-down-item">
				<!--<button id="setting">설정</button>-->
				<button type="button", id="logout">로그아웃</button>
			</div>
		</div>
		
		<div class="main-content">
			<!-- 이전, 다음, 윈도우 레벨 등 가로 툴바 버튼 -->
			<div th:replace="~{fragments/toolBar :: tool-bar}"></div>

			<div class="content">
				<!-- 스터디 정보 -->
				<div id="study-info" class="study-info">
					<h1>Study 정보</h1>
					<div> Study Key: <span th:text="${study.studyKey}"></span></div>
					<div>Abnormal Patient: <span th:text="${study.abnormalPatient}"></span></div>
					<div>Access Num: <span th:text="${study.accessNum}"></span></div>
					<div>Added Info: <span th:text="${study.addedInfo}"></span></div>
					<div>AE Title: <span th:text="${study.aeTitle}"></span></div>
					<div>AI Finding: <span th:text="${study.aiFinding}"></span></div>
					<div>AI Report: <span th:text="${study.aiReport}"></span></div>
					<div>Body Part: <span th:text="${study.bodyPart}"></span></div>
					<div>Modality: <span th:text="${study.modality}"></span></div>
					<div>Operators Name: <span th:text="${study.operatorsName}"></span></div>
					<div>Patient Key: <span th:text="${study.patientKey}"></span></div>
					<div>Patient Name: <span th:text="${study.pName}"></span></div>
					<div>Study Date: <span th:text="${study.studyDate}"></span></div>
					<div>Study Description: <span th:text="${study.studyDesc}"></span></div>
					<div>View Position: <span th:text="${study.viewPosition}"></span></div>
				</div>
				
				<!-- 과거 내역 정보 -->
				<div id="past-info" class="past-info">
					<span>과거 검사 내역</span>
					<div th:if="${pastStudies != null}">
						<label>환자 아이디 : <span th:text="${study.pId}"></span></label> <br>
						<label>환자 이름 : <span th:text="${study.pName}"> </span></label>
						<div class="past-info-table">
                            <div class="past-info-div">
                                <div class="past-info-header">
                                    <span>검사<br>장비</span>
                                    <span>검사 설명</span>
                                    <span>검사 일시</span>
                                    <span>판독<br>상태</span>
                                </div>
                                <div class="past-info-body" th:each="study : ${pastStudies}">
                                    <span th:text="${study.modality}"></span>
                                    <span th:text="${study.studyDesc}"></span>
                                    <span th:text="${study.studyDate}"></span>
                                    <span th:text="${study.reportStatus}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${pastStudies == null}">
						<p>과거 검사 내역이 없습니다.</p>
				    </div>
		        </div>

				<!-- 시리즈 정보 -->
				<div id="series-info" class="series-info">
					<span>시리즈 정보</span>
					<div th:each="series : ${seriesList}" 
         			     th:if="${series.imageCount > 0}" 
                         class="thumbnail dicomImage"
         			 	 th:data-series-key="${series.seriesKey}">
        			     <span th:text="${series.seriesKey + '번 시리즈 (' + series.imageCount + '개)'}"></span>
        			</div>
					<div th:if="${seriesList == null || seriesList.isEmpty()}">
						<p>시리즈 정보가 없습니다.</p>
					</div>
				</div>
                
                <!-- 리포트 정보 -->
				<div id="report-info" class="report-info">
					<span>리포트</span>
						<!-- 코멘트  -->
						<div class="comment">
							<label for="comment">[코멘트]</label>
							<textarea id="comment" rows="10"></textarea>
						</div>
						<div class="radiologist1">
							<label for="radiologist1">판독의</label> <input id="radiologist1"type="text">
						</div>
						<div class="report-date">
							<label for="report-date">판독 날짜 : <input id="report-date">
							</label>
						</div>
						<div class="buttons">
							<button id="save-report">저장</button>
							<button id="delete-report">판독 지우기</button>
						</div>
				</div>  
                
                <!-- 이미지 뷰 -->
				<div id="image-viewer" class="image-viewer"></div>
			</div>
		</div>
	</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	const studyKey = /*[[${studyKey}]]*/ "";
	const serverIp = /*[[${serverIp}]]*/ "";
	const imagePaths = /*[[${imagePaths}]]*/ []; 
	const imageUid=""; 
	
	//seriesImagePaths 안써서 지움
	//const seriesImagePaths = /*[[${seriesImagePaths}]]*/ []; 
	/*]]>*/
	console.log("studyKey 초기화 확인:", studyKey);
	console.log("imagePaths 초기화 확인:", imagePaths);
	//console.log("seriesImagePaths 초기화 확인:", seriesImagePaths);
	</script>
	
	<!-- 썸네일 js -->
	<script src="/js/seriesPage.js"></script>
	<!-- 이미지 뷰 js -->
	<script src="/js/ImageView.js"></script>
	<!-- 리포트 js -->
	<script src="/js/report.js"></script>
	
	<!-- 툴바 js, 메인툴전부 부터  -->
	<script src="/js/mainTools.js"></script>	
	<script src="/js/tools/zoom.js"></script>
	<script src="/js/tools/windowLevel.js"></script>
	<script src="/js/tools/invert.js"></script>
	<script src="/js/tools/angle.js"></script>
	<script src="/js/tools/drag.js"></script>
	<script src="/js/tools/eraser.js"></script>
	<script src="/js/tools/flip.js"></script>
	<script src="/js/tools/length.js"></script>
	<script src="/js/tools/magnify.js"></script>
	<script src="/js/tools/reset.js"></script>
	<script src="/js/tools/rotate.js"></script>
	<script src="/js/tools/compare.js"></script>
	<script src="/js/tools/deactivateAllTools.js"></script>
	
</body>
</html>