<!-- tools.html -->
<div th:fragment="tool-bar">
    <div class="tool-bar">
        <div class="prev-next">
            <button>이전</button>
            <button>다음</button>
        </div>
        <div class="equipment">
            <button id="playClip" class="btn btn-default">자동재생 시작</button>
            <button id="zoomIn" type="button" class="btn btn-default">확대</button>
            <button id="zoomOut" type="button" class="btn btn-default">축소</button>
        	<button id="windowLevel" type="button" class="btn btn-default">밝기조절</button>
			<button id="invert" type="button" class="btn btn-default">흑백전환</button>
        </div>
    </div>
</div>