/* 공통 스타일 */
		body {
			height: 100%;
			margin: 0;
			/* padding: 0; */
			background-color: #2F4F4F;
			font-family: 'Arial', sans-serif;
			height: 100vh;
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			color: white;
		}

		.main-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			/* 세로 중앙 정렬 */
			align-items: center;
			/* 가로 중앙 정렬 */
			padding: 20px;
			/* 필요에 따라 조정 */
			width: 93%;
			margin: 0 auto;
		}

		.main-container>div {
			width: 100%;
			/* 또는 원하는 최대 너비 (예: max-width: 1200px;) */
			margin-bottom: 20px;
			/* div 요소들 사이의 간격 */
		}

		.main-container>div:first-child {
			margin-bottom: 0;
		}

		.container {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}

		/* 상단 패널 (검색과 필터) */
		.top-panel {
			display: flex;
			gap: 20px;
			/* search-panel과 right-panel 사이의 간격 */
			width: 100%;
			margin-bottom: 20px;
			/* top-panel과 inspections-panel 사이의 간격 */
		}

		.search-panel {
			flex: 0 0 300px;
			/* 너비를 300px로 고정하고 늘어나지 않도록 설정 */
			display: flex;
			flex-direction: column;
			background-color: #3D5C5C;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		.right-panel {
			flex: 1;
			/* 남은 공간을 모두 차지하도록 설정 */
			display: flex;
			flex-direction: column;
			gap: 20px;
			/* right-panel 내부 요소들 사이의 간격 */
		}

		.verify-panel,
		.inspections-panel,
		.result-panel {
			background-color: #3D5C5C;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		.inspections-panel {
			background-color: #3D5C5C;
			padding: 8px 10px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		.inspections-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			/* 각 패널 사이의 간격 */
		}

		.inspections-item {
			flex: 1;
			/* 각 패널이 동일한 너비를 가지도록 설정 */
			min-width: 0;
			/* 내용이 넘칠 때 줄바꿈 허용 */
		}

		.right-controls {
			display: flex;
			gap: 10px;
			align-items: center;
		}

		.download-panel .download-btn,
		.download-panel .download-btn button {
			display: inline-block;
			padding: 5px 10px;
			font-size: 0.9em;
			background-color: #406b6b;
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s ease, transform 0.2s ease;
		}

		.download-panel .download-btn:hover,
		.download-panel .download-btn button:hover {
			background-color: #25403C;
			transform: translateY(-3px);
		}

		.download-panel .download-btn:active,
		.download-panel .download-btn button:active {
			background-color: #1e3330;
		}

		/* 버튼이 비활성화된 경우의 스타일 */
		.download-panel .download-btn:disabled,
		.download-panel .download-btn button:disabled {
			background-color: #cccccc;
			color: #666666;
			cursor: not-allowed;
		}

		.select-panel2 select {
			width: 100%;
			padding: 10px;
			background-color: #2F4F4F;
			/* border: 1px solid #ccc; */
			border: 1px solid #2A3F33;
			border-radius: 5px;
			box-sizing: border-box;
			color: white;
		}

		.result-panel {
			flex: 1;
			background-color: #3D5C5C;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			overflow: auto;
			/* 내용이 많을 경우 스크롤 생성 */
		}

		/* verify-panel */
		.verify-panel {
			display: flex;
			/* Flexbox로 수평 배치 */
			justify-content: space-between;
			/* 자식 요소들 사이의 간격을 동일하게 설정 */
			gap: 20px;
			/* 요소들 사이에 간격 추가 */
			padding: 10px;
		}

		.verify-row {
			display: flex;
			flex: 1;
			/* 전체적으로 요소들이 동일한 넓이를 가짐 */
			justify-content: space-between;
			gap: 20px;
		}

		.verify-item,
		.patient-info {
			flex: 1;
			/* 각 요소가 동등한 넓이로 배치되도록 설정 */
			/* padding: 10px; */
			box-sizing: border-box;
			/* 패딩과 테두리가 포함된 넓이 계산 */
			/* border: 1px solid #ccc; */
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.patient-info {
			display: flex;
			flex-direction: column;
			/* 안에 있는 요소들을 수직으로 배치 */
			gap: 10px;
			/* 정보 항목 간에 간격 추가 */
		}

		.patient-info div {
			background-color: #2F4F4F;
			border: 1px solid #2A3F33;
			padding: 5px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		label {
			font-weight: bold;
		}

		select {
			width: 100%;
			/* 선택 박스가 부모 요소의 너비에 맞게 확장되도록 */
			padding: 5px;
			margin-top: 5px;
			background-color: #2F4F4F;
			border: 1px solid #2A3F33;
			border-radius: 5px;
			color: white;
			box-sizing: border-box;

		}




		/* 반응형 디자인을 위한 미디어 쿼리 */
		@media (max-width: 768px) {
			.top-panel {
				flex-direction: column;
			}

			.inspections-row {
				flex-direction: column;
				align-items: stretch;
			}

			.right-controls {
				flex-direction: column;
				width: 100%;
			}

			.download-panel,
			.select-panel {
				width: 100%;
				margin-top: 10px;
			}

			.search-panel {
				flex: none;
				width: 100%;
			}

			.verify-row {
				flex-direction: column;
			}

			.verify-item {
				margin-bottom: 15px;
			}

			.history-name {
				flex-direction: column;
				align-items: flex-start;
			}

			.history-name>div {
				width: 100%;
			}

			.study-info-container {
				flex-direction: column;
			}

			.ai-content,
			.filming-info {
				width: 100%;
			}
		}

		/* 검색 필드 스타일 */
		.input-section {
			background-color: #3D5C5C;
			/* padding: 15px; */
			border-radius: 10px;
			/* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
		}

		.input-section label {
			display: block;
			margin-bottom: 8px;
			color: white;
		}

		.input-section input,
		.input-section select {
			width: 100%;
			padding: 10px;
			margin-bottom: 10px;
			background-color: #2F4F4F;
			border: 1px solid #2A3F33;
			border-radius: 5px;
			box-sizing: border-box;
			color: white;
		}

		input::placeholder {
			color: #A0A0A0;
		}

		input:focus,
		select:focus {
			/* border-color: #527a64; */
			padding: 9px;
			border: 2px solid #1f2e25;
			outline: none;
		}

		.buttons {
			display: flex;
			gap: 10px;
			margin-top: 10px;
			justify-content: space-between;
		}

		.buttons button {
			width: 48%;
			padding: 5px 10px;
			font-size: 0.9em;
			background-color: #406b6b;
			border: none;
			border-radius: 5px;
			color: #fff;
			font-size: 14px;
			gap: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease, transform 0.2s ease;
		}

		.buttons button:hover {
			opacity: 0.9;
			background-color: #25403C;
			transform: translateY(-3px);
		}

		.buttons button:active {
			background-color: #1e3330;
		}

		.quick-range-buttons {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 15px;
		}

		.quick-range-buttons button {
			width: 30%;
			padding: 5px 10px;
			font-size: 0.9em;
			background-color: #406b6b;
			border: none;
			border-radius: 5px;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.3s ease, transform 0.2s ease;
		}

		.quick-range-buttons button:hover {
			opacity: 0.8;
			background-color: #25403C;
			transform: translateY(-3px);
		}

		.quick-range-buttons button:active {
			background-color: #1e3330;
		}

		/* 검색 결과 테이블 */
		.result-panel {
			background-color: #3D5C5C;
			padding: 15px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			/* overflow: auto; */
			text-shadow: 0px 0px 10px #0000004f;
		}


		/* 검색 결과 head */
		.result-table-container {
			overflow-y: scroll;
			height: 379px;
		}

		/* 스크롤 바 */
		.result-table-container::-webkit-scrollbar {
			width: 15px;
			/* 세로축 스크롤바 폭 너비 */

		}

		.result-table-container::-webkit-scrollbar-thumb {
			background: #213939;
			border: 2px solid #2a3f33;
			border-radius: 12px 12px 12px 12px;
		}

		.result-table-container::-webkit-scrollbar-thumb:hover {
			background-color: #a0a0a5;
		}

		/* 스크롤이 움직이는 뒷 배경 */


		.selected {
			background-color: #243737 !important;
		}

		.result-table-thead {
			background-color: #355050;
			display: grid;
			grid-template-columns: minmax(11%, auto) minmax(18%, auto) minmax(9%, auto) minmax(20%, auto) repeat(2, minmax(9%, auto)) repeat(2, minmax(7%, auto)) minmax(10%, auto);
			border-bottom: 1px solid #2A3F33;
			border-top: 1px solid #2A3F33;
			height: 65px;
			font-size: larger;
			font-weight: 600;
		}

		.result-table-thead span {
			/* border: 1px solid; */
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 10px;
		}

		.odd {
			background-color: #395656;
		}

		.result-table-tbody {
			cursor: pointer;
			border-bottom: 1px solid #2A3F33;
			display: grid;
			grid-template-columns: minmax(11%, auto) minmax(18%, auto) minmax(9%, auto) minmax(20%, auto) repeat(2, minmax(9%, auto)) repeat(2, minmax(7%, auto)) minmax(10%, auto);
		}

		.result-table-tbody span {
			/* border: 1px solid #2A3F33; */
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 10px;
			/* border: 1px solid; */
		}

		.result-table-tbody:hover {
			background-color: #2F4F4F;

		}

		/* 환자 과거 이력 출력  */
		.history-table-thead {
			background-color: #355050;
			display: grid;
			grid-template-columns: minmax(11%, auto) minmax(18%, auto) minmax(9%, auto) minmax(20%, auto) repeat(2, minmax(9%, auto));
			border-bottom: 1px solid #2A3F33;
			border-top: 1px solid #2A3F33;
			height: 65px;
			font-size: larger;
			font-weight: 600;
		}

		.history-table-thead span {
			/* border: 1px solid; */
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 10px;
		}

		.odd {
			background-color: hsl(180, 20%, 28%);
		}

		.history-table-tbody {
			cursor: pointer;
			border-bottom: 1px solid #2A3F33;
			display: grid;
			grid-template-columns: minmax(11%, auto) minmax(18%, auto) minmax(9%, auto) minmax(20%, auto) repeat(2, minmax(9%, auto));
		}

		.history-table-tbody span {
			/* border: 1px solid #2A3F33; */
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 10px;
			/* border: 1px solid; */
		}

		.history-table-tbody:hover {
			background-color: #2F4F4F;

		}


		/* 하단 패널 */
		.bottom-panels {
			display: flex;
			gap: 20px;
			flex: 1;
		}

		.history-panel,
		.report-panel {
			flex: 1;
			background-color: #3D5C5C;
			border-radius: 10px;
			padding: 0 15px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			overflow: auto;
		}

		.history-panel h3,
		.report-panel h3 {
			margin-bottom: 10px;
			color: white;
		}


		.history-name {
			display: flex;
			align-items: center;
			gap: 10px;
			/* div 사이의 간격 */
			/* padding: 10px; */
			margin-bottom: 15px;
		}

		.history-name>div {
			flex: 1;
			/* 두 div가 동일한 너비를 가지도록 설정 */
			background-color: #2F4F4F;
			border: 1px solid #2A3F33;
			padding: 5px;
			border-radius: 10px;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		}

		.history-info-container table {
			width: 100%;
			border-collapse: collapse;
			/* background-color: #3D5C5C; */
			background-color: #2F4F4F;
		}

		.history-info-container th,
		.history-info-container td {
			padding: 10px;
			text-align: center;
			border: 1px solid #2A3F33;
			color: white;
		}

		.info-item {
			padding: 10px;
			margin-top: 5px;
			margin-bottom: 15px;
			background-color: #2F4F4F;
			/* border: 1px solid #ccc; */
			border: 1px solid #2A3F33;
			border-radius: 5px;
			color: white;
		}

		.study-info-container {
			display: flex;
			gap: 20px;
			/* ai-content와 filming-info 사이의 간격 */
			align-items: flex-start;
			/* 상단 정렬 */
			box-sizing: border-box;
		}

		.study-info-container label {
			display: block;
			margin-bottom: 5px;
			/* color: #ccc; */
			color: white;
		}

		.ai-content,
		.filming-info {
			flex: 1;
			/* 두 요소가 동등한 너비를 가지도록 설정 */
			min-width: 0;
			/* flex item의 내용이 넘칠 때 줄바꿈을 허용 */
		}

		/* 내부 요소들의 여백 조정 (필요한 경우) */
		.ai-content>*,
		.filming-info>* {
			margin-bottom: 10px;
		}

		/* .info-item label {
            display: block;
            margin-bottom: 5px;
            color: white;
        } */

		/* 달력 스타일 */
		.calendar-panel {
			margin-bottom: 20px;
			background-color: #3D5C5C;
			/* padding: 15px; */
			border-radius: 10px;
			/* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
		}

		.calendar-panel table {
			width: 100%;
			border-collapse: collapse;
			border-radius: 10px;
			background-color: #2F4F4F;
		}

		.calendar-panel th,
		.calendar-panel td {
			padding: 10px;
			text-align: center;
			/* border: 1px solid #8d8c8c; */
			border-bottom: 1px solid #2A3F33;
			/* border: none; */
			border-radius: 50%;
			color: white;
		}

		/* calendar-title 영역 css */
		.calendar-header {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
		}

		.calendar-header button {
			background: none;
			border: none;
			font-size: 18px;
			cursor: pointer;
			padding: 5px 10px;
		}

		#calendar-title {
			font-size: 18px;
			margin: 0 10px;
		}

		.current-day {
			background-color: #497c7c !important;
			color: #fff !important;
		}

		/* 선택된 날짜 강조 */
		.highlighted-range {
			background-color: #436464;
		}

		.selected-date {
			background-color: #ff9999;
		}

		/* 끝 날짜 강조 */
		.endDate {
			background-color: #ff6666;
		}

		.calendar-panel td {
			cursor: pointer;
		}

		/* 빈 셀에는 기본 커서 유지 */
		.calendar-panel td:empty {
			cursor: default;
		}

		/* 검사일자 관련 css */
		.date-range-container {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 10px;
		}

		.date-range-container label {
			white-space: nowrap;
		}

		.date-range-container input[type="date"] {
			padding: 5px;
			/* border: 1px solid #ccc; */
			border: 1px solid #2A3F33;
			border-radius: 4px;
			/* color: #8d8c8c; */
		}

		#load-more-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px 24px;
			font-size: 16px;
			color: #ffffff;
			background-color: #213131;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			transition: background-color 0.3s ease, transform 0.2s ease;
			margin: 20px auto;
			width: fit-content;
		}

		#load-more-btn:hover {
			background-color: #25403C;
			transform: translateY(-3px);
		}

		#load-more-btn::after {
			content: '▼';
			margin-left: 8px;
			font-size: 14px;
		}